<form role="form" [formGroup]="formGroup">
  <fieldset class="p-2">
    <div class="form-row">
      <div class="col-12">
        <div class="form-group">
          <button type="button" class="btn btn-primary mr-3 float-right" (click)="insert()" *ngIf="isNew">新增</button>
          <button type="button" class="btn btn-info mr-3 float-right" (click)="export()" *ngIf="!isNew && isOwner">匯出</button>
          <button type="button" class="btn btn-primary mr-3 float-right" (click)="update()" *ngIf="!isNew">更新</button>
          <button type="button" class="btn btn-danger mr-3 float-right" (click)="delete()" *ngIf="!isNew && isOwner">刪除</button>
        </div>
      </div>
    </div>
  </fieldset>
  <div formGroupName="data">
    <fieldset class="border p-2">
      <legend class="w-auto">基本資料</legend>
      <div class="form-row">
        <div class="form-group col">
          <label for="name">名稱</label>
          <input type="text" id="name" class="form-control" formControlName="name">
        </div>
        <div class="form-group col">
          <label for="race">種族</label>
          <select class="form-control" id="race" formControlName="race">
            <option [ngValue]="null">請選擇種族</option>
            <option *ngFor="let option of raceParams" [ngValue]="option.name">{{option.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-6">
          <div class="form-row">
            <div class="form-group col">
              <label for="hope">希望</label>
              <div class="form-row">
                <div class="col-6">
                  <input type="number" id="currentHope" class="form-control" placeholder="現在值" formControlName="currentHope">
                </div>
                <div class="col-6">
                  <input type="number" id="hope" class="form-control" placeholder="最大值" formControlName="hope">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-row">
            <div class="form-group col">
              <label for="starDice">星骰</label>
              <select class="form-control" id="starDice" formControlName="starDice">
                <option [ngValue]="null">請選擇星骰</option>
                <option *ngFor="let option of starDiceParams" [ngValue]="option.brief">{{option.brief}}・{{option.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-3 border-right">
          <div class="form-row">
            <div class="form-group col">
              <label for="brave">勇氣</label>
              <input type="number" id="brave" class="form-control" formControlName="brave">
            </div>
          </div>
        </div>
        <div class="col-9">
          <div class="form-row">
            <div class="form-group col">
              <label for="fight">戰鬥</label>
              <input type="number" id="fight" class="form-control" formControlName="fight">
            </div>
            <div class="form-group col">
              <label for="adventure">冒險</label>
              <input type="number" id="adventure" class="form-control" formControlName="adventure">
            </div>
            <div class="form-group col">
              <label for="ride">騎乘</label>
              <input type="number" id="ride" class="form-control" formControlName="ride">
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-3 border-right">
          <div class="form-row">
            <div class="form-group col">
              <label for="intelligence">智慧</label>
              <input type="number" id="intelligence" class="form-control" formControlName="intelligence">
            </div>
          </div>
        </div>
        <div class="col-9 border-top border-bottom">
          <div class="form-row">
            <div class="form-group col">
              <label for="hunting">狩獵</label>
              <input type="number" id="hunting" class="form-control" formControlName="hunting">
            </div>
            <div class="form-group col">
              <label for="perception">感覺</label>
              <input type="number" id="perception" class="form-control" formControlName="perception">
            </div>
            <div class="form-group col">
              <label for="knowledge">學問</label>
              <input type="number" id="knowledge" class="form-control" formControlName="knowledge">
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-3 border-right">
          <div class="form-row">
            <div class="form-group col">
              <label for="intelligence">愛情</label>
              <input type="number" id="love" class="form-control" formControlName="love">
            </div>
          </div>
        </div>
        <div class="col-9">
          <div class="form-row">
            <div class="form-group col">
              <label for="hunting">詩</label>
              <input type="number" id="poem" class="form-control" formControlName="poem">
            </div>
            <div class="form-group col">
              <label for="perception">說服</label>
              <input type="number" id="convince" class="form-control" formControlName="convince">
            </div>
            <div class="form-group col">
              <label for="knowledge">祈禱</label>
              <input type="number" id="pray" class="form-control" formControlName="pray">
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="border p-2" formArrayName="skills" *ngIf="isNew || isOwner || !isInfoHide">
      <legend class="w-auto">技能<span class="fas fa-plus add" (click)="addSkill()"></span></legend>
      <div class="form-row"
           *ngFor="let control of skills.controls; let i = index" [formGroupName]="i"
          [@fade]>
        <div class="col-2 form-group">
          <input type="text" class="form-control" formControlName="name" placeholder="名稱">
        </div>
        <div class="col-1 form-group">
          <input type="text" class="form-control" formControlName="dice" placeholder="判定">
        </div>
        <div class="col-4 form-group">
          <input type="text" class="form-control" formControlName="effect" placeholder="效果">
        </div>
        <div class="col-4 form-group">
          <input type="text" class="form-control" formControlName="description" placeholder="描述">
        </div>
        <div class="col-1 form-group">
          <span class="fas fa-times fa-2x remove" (click)="removeSkill(i)"></span>
        </div>
      </div>
    </fieldset>

    <fieldset class="border p-2" formArrayName="relation" *ngIf="isNew || isOwner || !isInfoHide">
      <legend class="w-auto">友情<span class="fas fa-plus add" (click)="addRelation()"></span></legend>
      <div class="form-row"
           *ngFor="let control of relation.controls; let i = index" [formGroupName]="i"
           [@fade]>
        <div class="col-3 form-group">
          <input type="text" class="form-control" formControlName="name" placeholder="對象">
        </div>
        <div class="col-4 form-group">
          <input type="number" class="form-control" formControlName="maxValue" placeholder="最大值">
        </div>
        <div class="col-4 form-group">
          <input type="number" class="form-control" formControlName="currentValue" placeholder="目前值">
        </div>
        <div class="col-1 form-group">
          <span class="fas fa-times fa-2x remove" (click)="removeRelation(i)"></span>
        </div>
      </div>
    </fieldset>

    <fieldset class="border p-2" formArrayName="items" *ngIf="isNew || isOwner || !isInfoHide">
      <legend class="w-auto">物品<span class="fas fa-plus add" (click)="addItem()"></span></legend>
      <div class="form-row"
           *ngFor="let control of items.controls; let i = index" [formGroupName]="i"
           [@fade]>
        <div class="col-3 form-group">
          <input type="text" class="form-control" formControlName="name" placeholder="名稱">
        </div>
        <div class="col-8 form-group">
          <input type="text" class="form-control" formControlName="effort" placeholder="效果">
        </div>
        <div class="col-1 form-group">
          <span class="fas fa-times fa-2x remove" (click)="removeItem(i)"></span>
        </div>
      </div>
    </fieldset>

    <fieldset class="border p-2" *ngIf="isNew || isOwner || !isInfoHide">
      <legend class="w-auto">角色資料</legend>
      <div class="form-row">
        <div class="form-group col">
          <label for="sex">性別</label>
          <select class="form-control" id="sex" formControlName="sex">
            <option [ngValue]="null">請選擇性別</option>
            <option *ngFor="let option of sexParams" [ngValue]="option.name">{{option.name}}</option>
          </select>
        </div>
        <div class="form-group col">
          <label for="age">年齡</label>
          <input type="number" id="age" class="form-control" formControlName="age">
        </div>
        <div class="form-group col">
          <label for="height">身高</label>
          <input type="number" id="height" class="form-control" formControlName="height">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="hairColor">髮色</label>
          <input type="text" id="hairColor" class="form-control" formControlName="hairColor">
        </div>
        <div class="form-group col">
          <label for="eyeColor">瞳色</label>
          <input type="text" id="eyeColor" class="form-control" formControlName="eyeColor">
        </div>
        <div class="form-group col">
          <label for="skinColor">膚色</label>
          <input type="text" id="skinColor" class="form-control" formControlName="skinColor">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="headOrnaments">頭部裝飾</label>
          <input type="text" id="headOrnaments" class="form-control" formControlName="headOrnaments">
        </div>
        <div class="form-group col">
          <label for="bodyOrnaments">身體裝飾</label>
          <input type="text" id="bodyOrnaments" class="form-control" formControlName="bodyOrnaments">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="meleeWeapon">近戰武器</label>
          <input type="text" id="meleeWeapon" class="form-control" formControlName="meleeWeapon">
        </div>
        <div class="form-group col">
          <label for="rangedWeapon">遠程武器</label>
          <input type="text" id="rangedWeapon" class="form-control" formControlName="rangedWeapon">
        </div>
        <div class="form-group col">
          <label for="musicalInstrument">樂器</label>
          <input type="text" id="musicalInstrument" class="form-control" formControlName="musicalInstrument">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="belongLocation">所屬地區</label>
          <input type="text" id="belongLocation" class="form-control" formControlName="belongLocation">
        </div>
        <div class="form-group col">
          <label for="belongGroup">所屬陣營</label>
          <input type="text" id="belongGroup" class="form-control" formControlName="belongGroup">
        </div>
        <div class="form-group col">
          <label for="career">職業</label>
          <input type="text" id="career" class="form-control" formControlName="career">
        </div>
      </div>
    </fieldset>

    <fieldset class="border p-2" *ngIf="isNew || isOwner || !isInfoHide">
      <legend class="w-auto">其他</legend>
      <div class="form-row">
        <div class="form-group col">
          <label for="description">角色描述</label>
          <textarea class="form-control" id="description" rows="5" formControlName="description"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="note">備註</label>
          <textarea class="form-control" id="note" rows="5" formControlName="note"></textarea>
        </div>
      </div>
    </fieldset>

    <fieldset class="border p-2" *ngIf="isNew || isOwner || !isInfoHide">
      <legend class="w-auto">狀態</legend>
      <div class="form-row">
        <div class="btn-group btn-group-toggle col-2">
          <label for="isHide" class="btn-outline-primary" ngbButtonLabel>
            <input type="checkbox" id="isHide" formControlName="isHide" ngbButton>隱藏角色
          </label>
        </div>
        <div class="btn-group btn-group-toggle col-2">
          <label for="isInfoHide" class="btn-outline-primary" ngbButtonLabel>
            <input type="checkbox" id="isInfoHide" formControlName="isInfoHide" ngbButton>隱藏資訊
          </label>
        </div>
      </div>
    </fieldset>

    <fieldset class="p-2">
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <button type="button" class="btn btn-primary mr-3 float-right" (click)="insert()" *ngIf="isNew">新增</button>
            <button type="button" class="btn btn-info mr-3 float-right" (click)="export()" *ngIf="!isNew && isOwner">匯出</button>
            <button type="button" class="btn btn-primary mr-3 float-right" (click)="update()" *ngIf="!isNew">更新</button>
            <button type="button" class="btn btn-danger mr-3 float-right" (click)="delete()" *ngIf="!isNew && isOwner">刪除</button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</form>

