<form role="form" [formGroup]="formGroup">
  <div formGroupName="data">
    <fieldset class="border p-2">
      <legend class="w-auto">基本資料</legend>
      <div class="form-row">
        <div class="form-group col">
          <label for="name">名稱</label>
          <input type="text" id="name" class="form-control" formControlName="name">
        </div>
        <div class="form-group col">
          <label for="race">種族</label>
          <select class="form-control" id="race" formControlName="race">
            <option [ngValue]="null">請選擇種族</option>
            <option *ngFor="let option of raceParams" [ngValue]="option.name">{{option.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="sex">性別</label>
          <select class="form-control" id="sex" formControlName="sex">
            <option [ngValue]="null">請選擇性別</option>
            <option *ngFor="let option of sexParams" [ngValue]="option.name">{{option.name}}</option>
          </select>
        </div>
        <div class="form-group col">
          <label for="age">年齡</label>
          <input type="number" id="age" class="form-control" formControlName="age">
        </div>
        <div class="form-group col">
          <label for="height">身高</label>
          <input type="number" id="height" class="form-control" formControlName="height">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="hairColor">髮色</label>
          <input type="text" id="hairColor" class="form-control" formControlName="hairColor">
        </div>
        <div class="form-group col">
          <label for="eyeColor">瞳色</label>
          <input type="text" id="eyeColor" class="form-control" formControlName="eyeColor">
        </div>
        <div class="form-group col">
          <label for="skinColor">膚色</label>
          <input type="text" id="skinColor" class="form-control" formControlName="skinColor">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="headOrnaments">頭部裝飾</label>
          <input type="text" id="headOrnaments" class="form-control" formControlName="headOrnaments">
        </div>
        <div class="form-group col">
          <label for="bodyOrnaments">身體裝飾</label>
          <input type="text" id="bodyOrnaments" class="form-control" formControlName="bodyOrnaments">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="meleeWeapon">近戰武器</label>
          <input type="text" id="meleeWeapon" class="form-control" formControlName="meleeWeapon">
        </div>
        <div class="form-group col">
          <label for="rangedWeapon">遠程武器</label>
          <input type="text" id="rangedWeapon" class="form-control" formControlName="rangedWeapon">
        </div>
        <div class="form-group col">
          <label for="musicalInstrument">樂器</label>
          <input type="text" id="musicalInstrument" class="form-control" formControlName="musicalInstrument">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="belongLocation">所屬地區</label>
          <input type="text" id="belongLocation" class="form-control" formControlName="belongLocation">
        </div>
        <div class="form-group col">
          <label for="belongGroup">所屬陣營</label>
          <input type="text" id="belongGroup" class="form-control" formControlName="belongGroup">
        </div>
        <div class="form-group col">
          <label for="career">職業</label>
          <input type="text" id="career" class="form-control" formControlName="career">
        </div>
      </div>
    </fieldset>

    <div class="form-group row">
      <div class="col-12">
        <button type="button" class="btn btn-primary mr-3" (click)="insert()" *ngIf="!character.id">新增</button>
        <button type="button" class="btn btn-primary mr-3" (click)="update()" *ngIf="character.id">更新</button>
        <button type="button" class="btn btn-danger mr-3" (click)="delete()" *ngIf="character.id">刪除</button>
      </div>
    </div>
  </div>
</form>

