/*modal*/
.error-modal, .info-modal, .confirm-modal{
  z-index: 1100;
}

.error-modal .modal-header{
  background-color: lightcoral;
}

.info-modal .modal-header {
  background-color: lightgreen;
}

.confirm-modal .modal-header {
  background-color: lightblue;
}
